In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(np.random.randint(1,100,size=(6,4)),columns=['A','B','C','D'])
df

    A   B   C   D
0  56  59  57  13
1  27  62  11  43
2  86  40  94  43
3  99  50  41  22
4  10  49  55  95
5  12  42  83  36

In [5]:
df.set_index('A',inplace=True)
df

     B   C   D
A
56  59  57  13
27  62  11  43
86  40  94  43
99  50  41  22
10  49  55  95
12  42  83  36

In [8]:
df=pd.DataFrame(np.random.randint(1,100,size=(3,3)),columns=['A','B','C'],index=['1','2','3'])
print(df)

    A   B   C
1   6  60  60
2  60  88  35
3  89  73  44

In [10]:
df=pd.DataFrame(np.random.randint(1,100,size=(5,3)),columns=['A','B','C'])
df['D']=df['A']*df['B']
df

    A   B   C     D
0  70  68  92  4760
1  24  45  40  1080
2  58  48  46  2784
3  20  52  53  1040
4  80  97  16  7760

In [25]:
df=pd.DataFrame(np.random.randint(1,10,size=(4,3)),index=['1','2','3','4'],columns=['A','B','C'])
print(df)
df['row_sum']=df.sum(axis=1)
df.loc['col_sum']=df.sum(axis=0)
print(df)

   A  B  C
1  7  5  1
2  2  1  4
3  1  8  6
4  2  8  2
          A   B   C  row_sum
1         7   5   1       13
2         2   1   4        7
3         1   8   6       15
4         2   8   2       12
col_sum  12  22  13       47

In [ ]:
df=pd.DataFrame(np.random.randint(1,10,size=(5,3)),columns=['A','B','C'])
# print(df)

df.iloc[0,1]=np.nan
df.iloc[2,2]=np.nan
df.iloc[4,0]=np.nan
print(df)
# Insert column wise mean
df_filled=df.fillna(df.mean())
print(df_filled)

# Insert row wise mean 
df = df.apply(lambda row: row.fillna(row.mean()), axis=1)

     A    B    C
0  2.0  NaN  8.0
1  3.0  9.0  5.0
2  4.0  6.0  NaN
3  3.0  7.0  3.0
4  NaN  2.0  8.0
     A    B    C
0  2.0  6.0  8.0
1  3.0  9.0  5.0
2  4.0  6.0  6.0
3  3.0  7.0  3.0
4  3.0  2.0  8.0
     A    B    C
0  2.0  NaN  8.0
1  3.0  9.0  5.0
2  4.0  6.0  NaN
3  3.0  7.0  3.0
4  NaN  2.0  8.0

In [31]:
df=pd.DataFrame(np.random.randint(1,10,size=(5,3)),columns=['A','B','C'])
# print(df)

df.iloc[0,1]=np.nan
df.iloc[2,2]=np.nan
df.iloc[4,0]=np.nan
print(df)

df.dropna(inplace=True)
print(df)

     A    B    C
0  4.0  NaN  7.0
1  7.0  2.0  2.0
2  5.0  3.0  NaN
3  9.0  3.0  7.0
4  NaN  6.0  3.0
     A    B    C
1  7.0  2.0  2.0
3  9.0  3.0  7.0

In [33]:
# Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'
df = pd.DataFrame({'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Value': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

# Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category
grouped = df.groupby('Category')['Value'].agg(['sum', 'mean'])
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Category  Value
0        A     35
1        B     18
2        A     71
3        A     60
4        C     11
5        A     52
6        B     16
7        B     97
8        B     61
9        B     84
Grouped DataFrame:
          sum  mean
Category
A         218  54.5
B         276  55.2
C          11  11.0

In [34]:
# Create two Pandas DataFrames with a common column
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Merge the DataFrames using the common column
merged = pd.merge(df1, df2, on='Key')
print("Merged DataFrame:")
print(merged)

DataFrame 1:
  Key  Value1
0   A      99
1   B      21
2   C      19
3   D      10
DataFrame 2:
  Key  Value2
0   A      76
1   B      70
2   C      78
3   E      27
Merged DataFrame:
  Key  Value1  Value2
0   A      99      76
1   B      21      70
2   C      19      78

In [35]:
# Create two Pandas DataFrames with different columns
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Concatenate the DataFrames along the rows
concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenated DataFrame (rows):")
print(concat_rows)

# Concatenate the DataFrames along the columns
concat_columns = pd.concat([df1, df2], axis=1)
print("Concatenated DataFrame (columns):")
print(concat_columns)

DataFrame 1:
    A   B
0  91  32
1  14  81
2  44  50
DataFrame 2:
    C   D
0  49  57
1  19  33
2  88  88
Concatenated DataFrame (rows):
      A     B     C     D
0  91.0  32.0   NaN   NaN
1  14.0  81.0   NaN   NaN
2  44.0  50.0   NaN   NaN
0   NaN   NaN  49.0  57.0
1   NaN   NaN  19.0  33.0
2   NaN   NaN  88.0  88.0
Concatenated DataFrame (columns):
    A   B   C   D
0  91  32  49  57
1  14  81  19  33
2  44  50  88  88

In [49]:
date_rng = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
df=pd.DataFrame(date_rng,columns=['date'])
df['data'] = np.random.randint(0,100,size=(len(date_rng)))
df.set_index('date', inplace=True)
df
 
 ## Monthly Mean
monthy_mean = df.resample('M').mean()
print(monthy_mean)

## Rolling over 7 days
rolling_mean = df.rolling(window=7).mean()
print(rolling_mean)

                 data
date
2022-01-31  50.322581
2022-02-28  43.571429
2022-03-31  41.193548
2022-04-30  61.100000
2022-05-31  44.290323
2022-06-30  56.533333
2022-07-31  53.645161
2022-08-31  51.516129
2022-09-30  52.400000
2022-10-31  54.935484
2022-11-30  36.300000
2022-12-31  41.258065
                 data
date
2022-01-01        NaN
2022-01-02        NaN
2022-01-03        NaN
2022-01-04        NaN
2022-01-05        NaN
...               ...
2022-12-27  47.571429
2022-12-28  49.857143
2022-12-29  49.857143
2022-12-30  47.714286
2022-12-31  41.428571

[365 rows x 1 columns]

C:\Users\pgarg\AppData\Local\Temp\ipykernel_11324\1248982581.py:8: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthy_mean = df.resample('M').mean()

In [50]:
# Create a Pandas DataFrame with a MultiIndex (hierarchical index)
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Basic indexing and slicing operations
print("Indexing at Category 'A':")
print(df.loc['A'])

print("Slicing at Category 'B' and SubCategory 'two':")
print(df.loc[('B', 'two')])

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              66      99       6
         two              88      51      69
B        one              18      69      39
         two              25      93      75
Indexing at Category 'A':
             Value1  Value2  Value3
SubCategory
one              66      99       6
two              88      51      69
Slicing at Category 'B' and SubCategory 'two':
Value1    25
Value2    93
Value3    75
Name: (B, two), dtype: int32