In [1]:
import  sqlite3

In [2]:
## Connect to an SQLite database
connection = sqlite3.connect('example.db')
connection

In [3]:
cursor=connection.cursor()

In [4]:
cursor.execute('''
Create Table If not Exists employees(
    id Interger Primary Key,
    name Text Not Null,
    age Integer,
    department text
)
''')
connection.commit()

In [5]:
## Insert the data in sqlite table
cursor.execute('''
Insert Into employees(name,age,department)
               values('Krish',32,'Data Scientist')

''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Bob', 25, 'Engineering')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Charlie', 35, 'Finance')
''')

## commi the changes
connection.commit()

In [7]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(None, 'Krish', 32, 'Data Scientist')
(None, 'Bob', 25, 'Engineering')
(None, 'Charlie', 35, 'Finance')

In [8]:
## Update the data in the table
cursor.execute('''
UPDATE employees
Set age=34
where name="Krish"
''')

connection.commit()

In [9]:
cursor.execute('''
CREATE Table if not exists sales(
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]
cursor.executemany('''
insert into sales(date,product,sales,region)
                    values(?,?,?,?)
''',sales_data)
connection.commit()

In [10]:
connection.close()